@import "compass/css3";

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

font-family: 'Open Sans',
;
font-family: 'Spartan',
;
font-family: 'Montserrat'
;





/* ------------  Mobile first ------------ */









p {
    color: #3a4853;
    font-family: 'Montserrat';
}

h1 {
    font-family: 'Spartan';
    color: #3a4853;
}

h2 {
    font-family: 'Spartan';
    color: #3a4853;
    line-height: 1.6;
}

h3 {
    font-family: 'Spartan';
    color: #3a4853;
    line-height: 1.6;
}

a {
    font-family: 'Spartan';
    text-decoration: none;
}

hr {
    background-color: #3a4853;
    border-style: solid;
    height: 1px;
    border-width: .5px;
    border-color: #3a4853;
}

figcaption {
    font-size: 12px;
    float: center;
}

button {
    
    background: #f2f1ed;
    border-width: 3px;
    border-color: #00C49C;
    border-style: solid;
    margin-top: 12px;
    margin-bottom: 12px;
    padding: 16px;
    font-family: 'Spartan';
    color: #00C49C;
    display: inline-flex;
    align-items: center;
    
}

.btncolor img {
    padding-right: 8px;
}

button:hover,
button:focus,
button:active {
    transition: .4s;
    transform: translatex(3px);
    background: #00C49C;
    color: #000;
    font-weight: bold;
}


body {
    background-color: floralwhite;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    font-family: Montserrat;
}

#navbar {
    margin-right: 0;
    position: fixed;
    top: 0;
    width: 100%;
    max-height: 60px;
    z-index: 3;
    background: #021423;
    color: #f2f1ed;
    display: flex;
    transition: top 0.3s;
    align-items: center;
}

.navmap {
    width: 33.33%;
    text-align: start;
}

.navmap svg {
    fill: #00C49C;
    margin-left: 30px;
}



.navmap svg:hover {
    fill: #e2c531;
}

.navlogoa {
    width: 30%;
}

.navlogo {
    max-height: inherit;
    height: 52px;
    margin-top: 8px;
    padding: 4px;
    text-align: center;
    background-image: url(img/TRR_SunIcon_Horiz_Styled.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}


.navmenu {
    width: 33.33%;
    text-align: end;
    height: 60px;
     
}

.navmenu button {
    font-size: 100%;
}



/* The sidepanel menu */
.sidepanel {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 4;
    top: 0;
    right: 0;
    background-color: #021423;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
    background-image: url(img/trr_bubbles_orange.png);
    background-size: cover;
    text-align: center;
}

.sidepanel a {
    padding: 12px 12px 12px 12px;
    text-decoration: none;
    font-size: 22px;
    color: #3a4853;
    display: block;
    transition: 0.3s;
}

.menulogo {
    margin: 1em;
    width: 16em;
}

/* When you mouse over the navigation links, change their color */
.sidepanel a:hover {
    color: #00C49C;
    border-width: 1px 0 1px 0;
    border-style: solid;
    border-color: #3a4853;
    transform: translateX(5px);
    transition: 0.5s;
}

/* Position and style the close button (top right corner) */
.sidepanel .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    color: #DB5E3E;
}

/* Style the button that is used to open the sidepanel */
.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: transparent;
    color: #00C49C;
    border: none;
    height: inherit;
    float: right;
    margin: 0;
}

.openbtn:hover {
    background-color: #DB5E3E;
}










footer {
    position: absolute;
    width: 100%;
    max-width: 100%;
    z-index: 3;
    background: #021423;
    color: #f2f1ed;
    display: inline-flex;
    padding: 32px;
    justify-content: space-between;
    align-items: top;
    font-size: 80%;
}

.footerdiv h3 {
    color: #f2f1ed;
}

.footerdiv a {
    color: #f2f1ed;
}

.footerdiv a:hover {
    color: #DB5E3E;
    text-decoration-line: underline;
}

.footerdiv a:active {
    color: #00C49C;
}


.footerdiv {
    text-align: center;
    flex-grow: 1;
    max-width: 19%;
    min-width: 10%;
}



.footerdiv svg {
    fill: #00C49C;
}

#footerlogo {
    padding: 1em;
    width: 100px;
    fill: #f2f1ed;
}

#footnotice {
    font-size: 80%;
    font-weight: 100;
    padding-left: 2em;
    padding-right: 2em;
}


@media screen and (max-width: 1025px) {

    footer {
        text-align: center;
        flex-direction: column;
        align-items: center;
    }

    .footerdiv {
        max-width: 80%;
        min-width: 20%;
    }

    #footerlogo {
        order: -1;
        width: 100px;
    }
}

@media screen and (max-width: 550px) {

    .navlogo {
        background-image: url(img/2logo.svg);
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        margin-top: 0;
    }
}

.features p {
    text-align: center;
    font-size: 70%;
    background-color: #021423;
    color: #f2f1ed;
    margin: 0;
    padding: 1em;
}





.right-aligned {
    text-align: center;
    flex-wrap: wrap;
    align-items: stretch;
}

.crunched,
.crunched p,
.crunched h1 {
    margin: 0;
    padding: 0;

}

.left-aligned {
    text-align: left;
    margin-bottom: 2.5em;
}



/*  ----  Mobile sizes splash navs  ----   */

.rv {
    background: #e2c531;
    font-family: 'Spartan';
    font-size: 1.5em;
    padding: .8em;
    color: #f2f1ed;
}




.mari {
    background: #676669;

}


.boats {
    background: #3a4853;

}


.cabs {
    background: #db5e3e;

}

.bignavs {
    font-family: 'Spartan';
    font-size: 1.5em;
    padding: .8em;
    color: #f2f1ed;
}

.bignavs:hover,
.bignavs:focus,
.bignavs:active {
    transition: .6s;
    transform: translateX(8px);
    background: #021423;
}


/*  ----  Top Section Desktop Splash Navs ----   */


#change_this {
    color: #f2f1ed;
    font-weight: bold;
    line-height: 1em;
    letter-spacing: .1em;
    opacity: 1;
}




.splash-container {
    background: #021423;
    background-position: top left;
    background-size: cover;
    z-index: 1;
    overflow: hidden;
    /* The following styles are required for the "scroll-over" effect */
    width: 100%;
    height: 90%;
    top: 0;
    left: 0;
    position: fixed !important;
}

/* Video is in splash container div */

video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background: url('/img/fish.jpg') no-repeat;
    background-size: cover;
    transition: 1s opacity;
}

.aboutsplash {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 60%;
    min-height: 60%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background: no-repeat;
    background-size: cover;
    transition: 1s opacity;
}

.splash {
    /* absolute center .splash within .splash-container */

    font-size: 150%;
    font-family: 'Spartan';
    position: absolute;
    top: 0px;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-left: 3em;
}

/* This is the main heading */
.splash-head {
    font-size: 2em;
    font-weight: lighter;
    color: #f2f1ed;
    padding: 1.6em;
    line-height: 1em;
    text-transform: uppercase;
    font-family: 'Spartan';
    line-height: 1.2em;
}

/* This is the subheading */
.splash-subhead {
    color: #f2f1ed;
    letter-spacing: 0.1em;
}

.splashbox-left {
    margin: 0px;
    width: 50%;
    visibility: hidden;
    display: flex;
}

.splashbox-right {
    margin: 0px;
    width: 50%;
    visibility: hidden;
    display: flex;
}

.splashbox {
    height: auto;
    border-style: solid;
    border-color: #f2f1ed;
    border-width: 1px;
    padding: 1em;
    padding-top: 10em;
    padding-right: 6em;
    display: none;
}

.splashbox p {
    font-size: 80%;
    font-family: 'Spartan';
    text-transform: uppercase;
    color: #f2f1ed;
    width: 200px;
    flex: stretch;
}


.splashr:hover {
    background-image: url(img/rv500w.png);
    background-size: cover;
    opacity: 0.9;

}

.splashc:hover {
    background-image: url(img/cabin500w.png);
    background-size: cover;
    opacity: 0.9;
}

.splashm:hover {
    background-image: url(img/marina500w.png);
    background-size: cover;
    opacity: 0.9;
}

.splashh:hover {
    background-image: url(img/houseboats500w.png);
    background-size: cover;
    opacity: 0.9;
}





/*
 * -- CONTENT STYLES --
 * This represents the content area
 */

.container {
    padding-left: 12%;
    padding-right: 12%;
    padding-top: 36px;
}



.content-wrapper {
    /* These styles are required for the "scroll-over" effect */
    position: absolute;
    top: 90%;
    width: 100%;
    min-height: 11%;
    max-width: 120%;
    z-index: 2;
    background: #f2f1ed;
}


#colorbuffer {
    width: 100%;
    height: 20px;
    display: inline-flex;
}

.yellow {
    width: 25%;
    background: #e2c531;
}

.orange {
    width: 37%;
    background: #db5e3e;
}

.grey {
    width: 23%;
    background: #676669;
}

.dgrey {
    width: 15%;
    background: #3a4853;
}

li {
    font-weight: 600;
    font-size: 24px;
    color: #db5e3e;
    padding: 6px;
    
    list-style-type: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    align-content: center;
}

li img {
    width: 15%;
}

#fb-root {
    width: 80%;
    padding:1em;
}


#orangebbl {
    background-image: url("img/trr_bubbles_orange.png");
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    margin-top: -8px;
}

#tealbbl {
    background-image: url("img/trr_bubbles_orange.png");
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    margin-top: -8px;
   
}

#splitcontainer {
    display: flex;
    justify-content: space-around;
    padding: 12px;
    align-items: flex-end;
    border-left: 1px solid black;
}

.split {
    
    width: 49.99%;
    padding: 10px 16px 10px 16px;
    align-items: flex-end;
    text-align: center;
}

.split a{
    
}
.content p {
    color: #021423;

}

/* Clear floats */
.row:after {
    content: "";
    display: table;
    clear: both;
    padding-bottom: 24px;
}

.column-66 {
    float: left;
    width: 66.66666%;
    padding: 2em;
}

.column-33 {
    float: left;
    width: 33.33333%;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 2em;
    text-align: center;
    align-items: center;
}

.intro div {
    padding: 6px;
    margin-top: 36px;

}
.intro img {
    max-width: 350px;
}


.column-33 etsicon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.etsicon img {
    max-width: 200px;
}

.etsicon h3 {
    margin-top: 0;
}

.column-66 p {
    line-height: 1.6;
}

.ste {
    position: relative;
    background-color: #f2f1ed;
}

.stelogo img {
    max-width: 90%;
    flex-grow: 1;
    margin-top : 36px;
    
}


.tribes {
    display: inline-flex;
    justify-content: space-around;
}

.tribes img {
    margin: 16px;
}




/* Add responsiveness - make the columns appear on top of each other instead of next to each other on small screens */
@media screen and (max-width: 1025px) {

    .column-66,
    .column-33 {
        width: 100%;
        text-align: center;
        justify-content: center;
        overflow:hidden;
    }

    .etsicon p {
        margin-left: 48px;
        margin-right: 48px;
    }

    .intro {
        width: auto;
        text-align: justify;
    }
    
    #splitcontainer {
        display: block;
        border-left: none;
    }
    
    .split {
        width: 100%;
    }
    
}





@media (min-width: 1025px) {
    .splash-container {
        background-position: top left 65%;
    }

    .splashbox {
        display: inline-flex;
    }

    .bignavs {
        display: none;
    }

    .splashbox-left {
        margin: 0px;
        font-size: 125%;
        visibility: visible;
    }

    .splashbox-right {
        margin: 0px;
        font-size: 125%;
        visibility: visible;
    }
    
    .hidehr {
        display: none;
    }
    
    .stelogo img {
    max-width: 400;
    margin-top : 36px;
    
}
    
    #fb-root {
    max-width: 100%;
    padding:1em;
}
    
    

}

@media (min-width: 795px) {

    /* We increase the body font size */
    body {
        font-size: 16px;
    }

}


@media (min-width: 78em) {

    /* We increase the header font size even more */
    .splash {
        font-size: 175%;
    }

    .splash-container {
        background-position: top center;
    }

}
